.row.table_header.hidden-xs.hidden-sm
  %b
    = render('one_index_row', locals: { id: Tag.human_attribute_name(:id),
     title: Tag.human_attribute_name(:title),
     do: I18n.t('some_do') })

- @collection.each do |category|
  - edit_btn = link_to(user_cabinet_category_path(id: category.id)) do content_tag(:i, '', class: 'fa fa-edit rc-fa-edit') end
  .row.table_row
    = render('one_index_row', locals: { id: category.id,
     title: category.title,
     do: edit_btn })

