= render 'shared/actions/show_edit' do
  .row
    .col-xs-12.col-md-8
      .category_show
        = render('category_show')
    = render 'shared/actions/show_edit_right_buttons',
return_to_path: user_cabinet_categories_path,
return_to_button_name: t('.return_to_categories'),
delete_object_path: user_cabinet_category_path(id: @resource.id),
delete_object_button_name: t('.delete_category'),
delete_object_sure: t('.is_really_delete_category')
