.row.table_header.hidden-xs.hidden-sm
  %b
    = render('one_index_row', locals: { id: TestTask.human_attribute_name(:id),
     experiment: TestTask.human_attribute_name(:experiment),
     state: TestTask.human_attribute_name(:state),
     duration: TestTask.human_attribute_name(:duration),
     start_time: TestTask.human_attribute_name(:start_time),
     result_kod: TestTask.human_attribute_name(:result_kod),
     result_values_json: TestTask.human_attribute_name(:result_values_json),
     result_message: TestTask.human_attribute_name(:result_message),
     do: I18n.t('some_do') })

- @collection.each do |test_task|
  - show_btn = link_to(user_cabinet_test_task_path(id: test_task.id)) do content_tag(:i, '', class: 'fa fa-edit rc-fa-edit') end
  .row.table_row
    = render('one_index_row', locals: { id: test_task.id,
     experiment: test_task.experiment.human_name,
     state: test_task.human_attribute_value(:state),
     duration: test_task.duration,
     start_time: test_task.start_time,
     result_kod: test_task.human_attribute_value(:result_kod),
     result_values_json: test_task.result_values_json,
     result_message: test_task.result_message,
     do: show_btn })

