= render 'shared/actions/show_edit' do
  .row
    .col-xs-12.col-md-8
      = render('experiment_case_show')
    = render 'shared/actions/show_edit_right_buttons',
return_to_path: user_cabinet_experiment_path(id: @resource.experiment_id),
return_to_button_name: t('.return_to_test'),
delete_object_path: user_cabinet_experiment_experiment_case_path(experiment_id: @resource.experiment_id, id: @resource.id),
delete_object_button_name: t('.delete_step'),
delete_object_sure: t('.is_really_delete_step')
