%h4
  = t('.current_state')

= react_component('experiments/ExperimentCurrentState',
{ experiment_id: @resource.id,
 user_id: current_user.id,
 url: front_experiment_current_state_path,
 query_title: t('.query'),
 started_title: t('.started'),
 not_started_title: t('.not_started')})
