.row.table_header.hidden-xs.hidden-sm
  %b
    = render('one_index_row', locals: { id: Experiment.human_attribute_name(:id),
     human_name: Experiment.human_attribute_name(:human_name),
     state: Experiment.human_attribute_name(:state),
     project: Experiment.human_attribute_name(:project),
     user: Experiment.human_attribute_name(:user),
     created_at: Experiment.human_attribute_name(:created_at),
     do: I18n.t('some_do') })
- @collection.each do |experiment|
  - edit_btn = link_to(user_cabinet_experiment_path(id: experiment.id)) do content_tag(:i, '', class: 'fa fa-edit rc-fa-edit') end
  - clone_btn = link_to(clone_user_cabinet_experiment_path(id: experiment.id), method: :post) do content_tag(:i, '', class: 'fa fa-clone') end
  .row.table_row
    = render('one_index_row', locals: { id: experiment.id,
     human_name: experiment.human_name,
     state: experiment.human_attribute_value(:state),
     user: experiment.user.email,
     project: experiment.project.name,
     created_at: experiment.created_at,
     do: edit_btn.concat(clone_btn) })
