= react_component('experiments/ExperimentLastResult',
{ experiment_id: @resource.id,
 user_id: current_user.id,
 url: front_experiment_last_result_path,
 main_title: t('.last_test_task'),
 test_task_id_title:  TestTask.human_attribute_name(:id),
 start_time_title: TestTask.human_attribute_name(:start_time),
 result_kod_title: TestTask.human_attribute_name(:result_kod),
 result_values_title: TestTask.human_attribute_name(:result_values_json),
 message_title: TestTask.human_attribute_name(:result_message) })

-# - if @last_test_task&.failed_screen_shot&.attached?
-#   .col-xs-12.col-sm-12.col-md-12.single-work
-#     .recent-work-wrap
-#       = cover_image(@last_test_task.failed_screen_shot)
-#       .overlay
-#         .recent-work-inner
-#           = link_to url_for(@last_test_task.failed_screen_shot), rel: 'prettyPhoto', class: 'preview' do
-#             %i.fa.fa-plus
