= form_with(model: TestTask, local: true, url: user_cabinet_test_tasks_path) do |f|
  = f.hidden_field(:experiment_id, value: @resource.id)
  .col-md-5.col-md-offset-1
    .form-group
      %button.btn.btn-primary.btn-lg{:name => "submit", :required => "required", :type => "submit"}
        = t('.run')
