.col-xs-12.col-md-6
  .variable_list
    = render('variable_list')
.col-xs-10.col-md-6
  .row.category_list
    = render('category_list')
  .row.tags_list
    = render('tags_list')
  .row.tags_list
    = render('groups_list')
