= react_component('experiments/TabSelectorPanel', { fieldObjects: [ { tabId: 'experiment_settings', tabName: 'Настройки' },
{ tabId: 'experiment_test', tabName: 'Тест' } ], activeTabId: 'experiment_test' })
