.row
  #experiment_variable_list
    = react_component('experiments/TestEnvironmentsEditForm', { experiment_environments: @resource.test_environments.to_json,
    environments: to_array_name_id(@resource.allowed_test_environments).to_json,
    experiment_environments: ExperimentTestEnvironmentsCollectionDecorator.decorate(@resource.experiment_test_environments).to_json,
    experiment_test_environment_class: ExperimentTestEnvironment.name.underscore,
    update_variables_url: front_update_environment_variables_path,
    add_environment_field_name: 'test_environment_id',
    add_environment_hint: t('.add_environment_hint'),
    add_environment_url: front_experiment_experiment_test_environments_path(experiment_id: @resource.id),
    read_environments_url: front_experiment_experiment_test_environments_path(experiment_id: @resource.id),
    name_title: t('.title'), submit_button_text: I18n.t('send'),
    cancel_button_text: I18n.t('cancel'), edit_button_text: I18n.t('edit'), read_only: false })
