%section#blog
  .container
    .row.contact-wrap
      -# Сообщения об ошибках
      = render('shared/resource_alert_notice')
    .row.filter-wrap
      = render('filter')


    .page-blocks
      = render('index_table')

    = render('shared/pagination_block')