%div
  %table
    %tr
      - locals[:object_class].columns.map(&:name).each do |attribute|
        %th
          = locals[:object_class].human_attribute_name(attribute)
    - @collection.each do |record|
      %tr
        - locals[:object_class].columns.map(&:name).each do |attribute|
          %td
            = record.send(attribute)