@import 'main_consts';
@import 'rc_editable_fields';
@import 'functions';


/* Формы */
.required label:after{content:' *'}

form input.form-control, textarea.form-control {
    background-color: $background_input_field_color;
    width: 100%;
}


/* Список с кнопками */

.three_column_list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.three_column_list li {
    height: 40px;
    font-size: 16px;
}

.three_column_list li a {
    display: inline;
}

// Кнопки
a.btn-primary {
    color: $btn_primary_text_color;
    margin-right: 8px;
}

input.btn.btn-search {
    padding: 8px 20px;
    margin-right: 8px;
    text-align: center;
    border: 1px solid #D0D7DD;
    display: inline-block;
    font-weight: 700;
    border-radius: 4px;
    color: $btn_primary_text_color;
    margin-top: 10px;
    height: 36px;
    background-color: #EC5538;
    background-image: linear-gradient(180deg, #EC5538, #EC5538);
}


a.btn-cancel {
    padding: 8px 20px;
    margin-right: 8px;
    text-align: center;
    border: 1px solid #D0D7DD;
    display: inline-block;
    font-weight: 700;
    border-radius: 4px;
    color: $btn_cancel_text_color;
    margin-top: 10px;
    height: 36px;
}

/* Предупреждение */
.warning {
    display: block;
    background-color: $warning_background_color;
    border-left: 4px solid $warning_leftborder_color;
    padding: 1.2rem 1.2rem 1.2rem calc(1rem - 4px);
    margin-left: -1rem;
    margin-bottom: 2rem;

    .question a {
        color: $a_color;
    }
}

/* Разделительные блоки */
%base_separated_block {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.last_test_task {
    @extend %base_separated_block;
}

.test_task_list {
    @extend %base_separated_block;
}

.control_buttons {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.experiment_cases_show {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.experiment_current_state .ws_success {
    color: green;
}
.experiment_current_state .ws_failed {
    color: darkorange;
}

.experiment_block_wrap h4 {
    display: inline-block;
}

.experiment_block_wrap .rc-spinner {
    display: inline;
    margin-left: 10px;
}

.type_operations_block {
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

/* TestTask */
.success_test_task {
    color: green;
}

.failed_test_task {
    color: red;
}

.failed_experiment_case {
    color: red;
}

/* Таблицы */
.table_header {

}

.table_row {
    border-bottom: 1px solid lightgrey;
}

.filter-wrap {
    margin-bottom: 20px;
}