.blog-item
  .row
    .col-xs-12.col-sm-2.text-center
      .entry-meta
        %span#publish_date 07  NOV
        %span
          %i.fa.fa-user
          %a{href: "#"} John Doe
        %span
          %i.fa.fa-comment
          %a{href: "blog-item.html#comments"} 2 Comments
        %span
          %i.fa.fa-heart
          %a{href: "#"} 56 Likes
    .col-xs-12.col-sm-10.blog-content
      = image_tag 'images/blog/blog1.jpg', class: "img-responsive img-blog", width: "100%", alt: ""
      %h2
        %a{href: "blog-item.html"} Consequat bibendum quam liquam viverra1
      %h3 Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit, lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.
      %a.btn.btn-primary.readmore{href: "blog-item.html"}
        Read More
        %i.fa.fa-angle-right
      / /.blog-item
