= render 'shared/actions/show_edit' do
  .row
    .col-xs-12.col-md-8
      .category_show
        = render('some_file_show')
    = render 'shared/actions/show_edit_right_buttons',
return_to_path: user_cabinet_some_files_path,
return_to_button_name: t('.return_to_some_files'),
delete_object_path: user_cabinet_some_file_path(id: @resource.id),
delete_object_button_name: t('.delete_some_file'),
delete_object_sure: t('.is_really_delete_some_file')
