= render('layouts/template_parts/small_title', locals: { title: controller_name.to_s.singularize.camelize.constantize.model_name.human(count: 3) })

%section{id: "#{controller_name.to_s.singularize.underscore}-index"}
  .container
    .row.contact-wrap
      -# Сообщения об ошибках
      = render('shared/resource_alert_notice')
    = yield if block_given?
